/*  your css code here. If applicable */
#verification_heading {
	text-align: center;
	margin: 40px;
}

#verification_subtext {
	text-align: center;
	margin-bottom: 40px;
}

.code {
	width: 50px;
	height: 90px;
	border: none;
	font-size: 90px
}

.code-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 80px;
	
}